@import "tailwindcss";

:root{
  --star-red:#C8102E;
  --star-red-dark:#9F1026;

  --background:#0F0F10;
  --card:#1A1A1D;

  --text:#FFFFFF;
  --text-secondary:#B6B6B6;

  --border:#2A2A2F;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body{
  background:var(--background);
  color:var(--text);
  font-family:Arial,Helvetica,sans-serif;
}